extends ../layout/index.pug
block titulo
  main.container.mt-5
    h1.text-center.mb-5 #{pagina}
  .row.proximos-viajes
    each viaje in viajes
      .col-md-6.col-lg-4.mb-4
        .card
          img(src=`/public/img/destinos_${viaje.imagen}.jpg`, class="img-fluid")
          .card-body
            h2=viaje.titulo
            p
              i.far.fa-calendar-alt
              |  #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
            p
              i.far.fa-dollar-sign
              |   #{viaje.precio}
            p= viaje.descripcion.substr(0,100)
            a(href=`/server/models/Viajes.js/${viaje.id}`, class="btn btn-success btn-block") Más información